body    {
    background-color: rgba(90, 197, 179, 0.76);
    font-family: sans-serif;
}
p   {
    background-color: ivory;
    color: rgb(8, 31, 56);
}
ul  {
    background-color: ivory;
    color: rgb(3, 49, 49);
}
ol  {
    background-color: ivory;
    color: rgb(3, 49, 49);
}
h1  {
    background-color: ivory;
    text-align: center;
}